.btn{
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}



.btn:hover{
    background-color:rgb(122, 9, 9);
}