.cartContainer li img{
    width: 100px;
}

.cartContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}

.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    text-align: center;
    padding: 1rem;
}