.container{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: white;
    margin: 0px;
    font-weight: bold;
    font-size: 1.2rem;
    list-style-type: none;
    height: 100%;
}

.shopName{
    font-family:Arial, Helvetica, sans-serif;

}


.linkStyle{
    text-decoration: none;
    color: var(--additional-color3);
}

.linksContainer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.mainLinks{
    width: 30rem;
    display: flex;
    justify-content: space-around;
}

.cartContainer{
    display: flex;
}

.itemsInCart{
    position: relative;
    bottom: 0.7rem;
    right: 0.5rem;
    background: var(--additional-color1);
    border-radius: 50%;
    width: 1.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 320px){
    .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .mainLinks{
        gap: 1rem;
    }

    .linksContainer{
        gap: 1rem;
    }

}

@media (max-width: 375px){
    .container{

        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .mainLinks{
        gap: 1.2rem;
    }

    .linksContainer{
        gap: 1.2rem;
    }

}