.cardContainer{
    width: 14rem;
    padding: 2rem;
    padding-bottom: 1rem;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    height: 22rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    box-shadow: 2px 2px 2px darkgrey;

}

.cardContainer:hover{
    transform: scale(1.05);
}

.cardContainer img{
    height: 10rem;
    max-width: 13rem;
    
   
}

.productsContainer{
    width: 100%;
    margin: auto;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.linkStyle{
    text-decoration: none;
    color: var(--additional-color3);
}

.title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1.2rem;
    color: white;
    gap: 2rem;
    margin-bottom: 1rem;
}

.card{
   height: 100%;
}

.productName{
    width: 100%;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.rating{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.productPrice{
    font-weight: normal;
}


.loading{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    
}

.searchBar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;


}

.searchInput{
    border-radius: 2rem;
    border: none;
    background: rgb(231, 230, 230);
    padding: .2rem;
}

.searchInput:focus{
    outline: none;
}

.notFound{
    width: 100%;
    text-align: center;
    color: rgb(35, 34, 34);
    grid-column: 1 / -1;
    
}

.searchBarIcon{
    position: relative;
    top: 0.5rem;
}


@media (max-width: 320px){
    .title{
        flex-direction: column;
        gap: 0;
    }

    .searchBar{
        position: relative;
        right: 1rem;
        gap: 1rem;
    }
}

@media (max-width: 375px){
    .title{
        flex-direction: column;
        gap: 0;
    }
    .searchBar{
        position: relative;
        right: 1rem;
        gap: 1rem;
    }
}
