.container{
    
    padding: 3rem;
    border: 2px solid darkgray;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin-top: 1rem;

    box-shadow: 2px 2px 2px darkgray;
    gap: 2rem;
   
}   

.mainContainer{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.productImage{
    max-width: 18rem;
    object-fit: contain;
}


.amount{
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    bottom: 0.5rem;
}

.description{
    font-weight: normal;
    
}



.headerContainer{
    display: flex;
    gap: 2rem;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;

}

.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quantityContainer{
    display: flex;

    justify-content: start;
    align-items: center;
}

.quantity{
  
    padding: 1rem;
}

.quantityBtn{
    padding: 0.7rem 1.5rem;
}

@media (max-width: 320px){
    html{
        font-size: 0.7rem !important;
    }
    
}

@media (max-width: 375px){
    .productImage{
        height: 10rem;
        max-width: 10rem;
    }

    .headerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quantityContainer{
        left: 0;
         justify-content: center;
    }

    .titleContainer{
        text-align: center;
    } 
    html{
        font-size: 0.8rem !important;
    }

}

@media (max-width: 480px){
    html{
        font-size: 0.9rem;
    }
}


@media (max-width: 1024px){
    .productImage{
        height: 10rem;
        max-width: 10rem;
    }

    .headerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quantityContainer{
        left: 0;
        justify-content: center;
    }

    .titleContainer{
        text-align: center;
    }

}

@media (min-width: 1024px){
    .productImage{
        height: 25rem;
        max-width: 15rem;
    }
    html{
        font-size: 1.1rem;
    }
}

