:root{
    --main-color: #004D40;
    --secondary-color: #027562;
    --additional-color1: #3c3c3c;
    --additional-color2: rgb(221, 251, 237);
    --additional-color3: rgb(144, 244, 184);
}


body, html{
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--additional-color2);
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}