:root{
    --main-color: #a00303;
    --secondary-color: #1c1c1c;
    --additional-color1: #3c3c3c;
    --additional-color2: #97689e;
}


body, html{
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}

.page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
